body {
  margin:0;
  padding:0;
background: teal;
}

.butt {
background: red;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
background: red;
margin-top: 12px;
}


.mascot {
position: absolute;
right: 0px;
bottom: 0px;
filter: drop-shadow(5px 10px 6px rgba(0,0,0,0.2));
width: calc(100% / 3);
}